<div class="row">
    <div class="col m12">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Client IP</th>
                    <th>Method</th>
                    <th>Code</th>
                    <th>Size</th>
                    <th>Protocol</th>
                    <th>Target</th>
                    <th>Refferal</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let log of logs" log-list-item [log]="log"></tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="logs.length === 0">
        <h4>Nothing to see here :(</h4>
    </div>
</div>
<div class="row">
    <div class="col m12 center-align">
        <button (click)="prevPage()" class="btn-floating btn-large red" *ngIf="showPrev"><</button>
        <button (click)="nextPage()" class="btn-floating btn-large red" *ngIf="showNext">></button>
    </div>
</div>