<div class="row">
    <div *ngIf="noContent" class="col m12">
        <h4>Nothing to see here :(</h4>
    </div>
    <div class="col m12" *ngIf="!noContent">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th (click)="sort('date')">Date</th>
                    <th>Client IP</th>
                    <th>Method</th>
                    <th (click)="sort('responseCode')">Code</th>
                    <th (click)="sort('responseSize')">Size</th>
                    <th>Protocol</th>
                    <th>Target</th>
                    <th>Refferal</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let log of logs" log-list-item [log]="log"></tr>
            </tbody>
        </table>
    </div>
    <div class="col m12 center-align" *ngIf="!noContent">
        <button (click)="prevPage()" class="btn-floating btn-large red" *ngIf="showPrev"><</button>
        <button (click)="nextPage()" class="btn-floating btn-large red" *ngIf="showNext">></button>
    </div>
</div>